<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="wadephillips Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <php>
        <env name='LEGACY_DB_CONNECTION' value='legacy'/>
        <env name='LEGACY_DB_HOST' value='127.0.0.1'/>
        <env name='LEGACY_DB_PORT' value='3306'/>
        <env name='LEGACY_DB_DATABASE' value='pocacoop_ee'/>
        <env name='LEGACY_DB_USERNAME' value='root'/>
        <env name='LEGACY_DB_PASSWORD' value='password'/>
        <env name='LEGACY_DB_PREFIX' value='exp_'/>
    </php>

</phpunit>
